# node_modules 디렉터리 (라이브러리에 포함할 필요 없음)
node_modules/

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영체제나 에디터에 의해 생성되는 파일
.DS_Store
Thumbs.db

# 환경변수나 개인 설정
.env
*.env.local
.env.*.local

# 빌드 아웃풋 (있을 경우)
dist/
build/

# 테스트 커버리지 결과
coverage/

# 타입스크립트 캐시 파일
*.tsbuildinfo

# IDE 설정
.vscode/
.idea/
*storybook.log
storybook-static
